.Layout {
  display: flex;
  justify-content: center;
  min-height: 100dvh;
}

.Content {
  padding: 48px;
  max-width: 1280px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.Content.Centered {
  align-items: center;
  justify-content: center;
}
