.Field {
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.Label {
  font-size: 13px;
  color: #ced4da;
}

.Container {
  border-radius: 18px;
  background-color: #e9ecef;
  fill: #9fa5ac;
  display: flex;
  align-items: center;
  padding: 16px 20px;
  gap: 14px;
}

.Input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  flex: 1;
}

.Input::placeholder {
  color: #adb5bd;
}
